html
  head
    title= title
    meta(name='description' content=description)
    meta(name='keywords' content=keywords)
    meta(name='robots' content='index, follow')
    link(rel='icon' href=icon type='image/x-icon')
    meta(property='og:title' content=title)
    meta(property='og:description' content=description)

    link(rel='stylesheet', type='text/css', href=stylesheet)
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', media='screen', href='/stylesheets/bootstrap.css')

    script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js' charset='utf-8')
    script(type='text/javascript' src='http://getbootstrap.com/dist/js/bootstrap.min.js')

    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      | ga('create', 'UA-60747888-1', 'auto');
      | ga('send', 'pageview');

  body
    div(class='modal fade state-modal-lg' tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true')
      div(class='modal-dialog modal-lg')
        div(class='modal-content col-xs-12 col-sm-12 col-md-12 col-lg-12')
          div(class='model-body')
            h4(class='modal-title text-center' id='myModalLabel')
              | Please choose states
              ul
                li(class='list-unstyled')
                  a(href='/state/all')
                    | All States
            if (typeof(states) !== 'undefined')
              - index = 0
              each state in states
                if (typeof(state) === 'undefined' || state != stateChosen)
                  if (index % 10 == 0)
                    if (index > 0)
                      | </ul>
                    | <ul class='list-unstyled col-xs-6 col-sm-6 col-md-4 col-lg-4 text-center'>
                  - ++index
                  li(class='list-unstyled')
                    | <a href='/state/
                    = state
                    | '>
                    = state
                    | </a>

    .modal.fade.signup-modal-lg(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
              h4.modal-title Sign Up To Post on LeafyExchange!
            .modal-body
              form
                .form-group
                  label.control-label(for='email') Email:
                  input.form-control(type='text')
                .form-group
                  label.control-label(for='username') Username:
                  input.form-control(type='text')
                .form-group
                  label.control-label(for='message-text') Password:
                  input.form-control(type='password')
                .form-group
                  label.control-label(for='message-text') Re-typed Password:
                  input.form-control(type='password')
            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='button') Sign Up

    div(id='header' class='col-xs-12 col-sm-12 col-md-12 col-lg-12')
      nav(class='navbar navbar-inverse navbar-fixed-top')
        div(class='container')
          div(class='navbar-header')
            button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
              span(class='sr-only')
                | Toggle navigation
              span(class='icon-bar')
              span(class='icon-bar')
              span(class='icon-bar')

            a(class='navbar-brand' href='/')
              | LeafyExchange

          div(id='navbar' class='navbar-collapse collapse')
            ul(class='nav navbar-nav' id='header-bar')
              li
                form(class='navbar-form')
                  div(class='form-group')
                    | <input type='text' placeholder='Location (Ex: 420 Pontius Ave N, Seattle, WA, 98103)' class='form-control'>
                  button(type='submit' class='btn btn-success')
                    | Search

    nav(class='navbar navbar-default text-center col-xs-12 col-sm-12 col-md-12 col-lg-12' role='navigation' style='overflow-x:hidden')
      .container
        ul(class='nav navbar-nav text-center' style='white-space: nowrap; font-size:medium; font-weight:bold')
          li(style='display: inline-block')
            a(href='#' data-toggle='modal' data-target='.state-modal-lg')
              if (typeof(stateChosen) !== 'undefined')
                = stateChosen.toUpperCase()
              else
                | CHOOSE STATE
          li(style='display: inline-block')
            a(href='#' data-toggle='modal' data-target='.signup-modal-lg')
              | SIGN UP
          li(style='display: inline-block')
            a(href='/search/')
              | ALL SALES

    div(id='title' class='col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center')
      h1(style='font-size:2em; font-weight:bold; color:#369844')
        | The Best Source for Marijuana Prices and Information

    block content

    <!-- FOOTER -->
    div(id='footer' class='col-xs-12 col-sm-12 col-md-12 col-lg-12')
      hr(class='featurette-divider')

      div(class='row')
        div(class='hidden-xs hidden-sm col-md-3 col-lg-3')
        div(class='col-xs-12 col-sm-12 col-md-6 col-lg-6')
          div(id='img' class='col-xs-12 col-sm-12 col-md-12 col-lg-12')
            img(src='/images/leafyexchange.jpg' height='38' width='38')
          ul(class='list-unstyled col-xs-6 col-sm-6 col-md-4 col-lg-4')
            strong
              | COMPANY
            li(class='list-unstyled')
              a(href='mailto:leafyexchange@gmail.com')
                | Email
            li(class='list-unstyled')
              a(href='/aboutus')
                | About Us
            li(class='list-unstyled')
              a(href='/privacy')
                | Privacy Policy
            li(class='list-unstyled')
              a(href='/terms')
                | Terms of Use
          ul(class='list-unstyled col-xs-6 col-sm-6 col-md-4 col-lg-4')
            strong
              | CONNECT US
            li(class='list-unstyled')
              a(href='https://www.facebook.com/leafyexchange' target='_blank')
                | Facebook
            li(class='list-unstyled')
              a(href='#')
                | Twitter
            li(class='list-unstyled')
              a(href='https://plus.google.com/u/0/b/106355406720692739040/106355406720692739040/about' target='_blank')
                | Google+
            li(class='list-unstyled')
              a(href='https://www.pinterest.com/leafyexchange/' target='_blank')
                | Pinterest
          ul(class='list-unstyled hidden-xs hidden-sm col-md-4 col-lg-4')
            strong
              | TOP LINKS
            li(class='list-unstyled')
              a(href='/state/all')
                | All US Sales
            li(class='list-unstyled')
              a(href='/state/Washington')
                | Washington State Sales
            li(class='list-unstyled')
              a(href='/state/California')
                | California Sales
            li(class='list-unstyled')
              a(href='/state/Colorado')
                | Colorado Sales
        div(class='hidden-xs hidden-sm col-md-3 col-lg-3')

        div(class='clearfix')
        div(class='col-xs-12 col-sm-12 col-md-12 col-lg-12')
          p(class='pull-right')
            a(href='#')
              | Back to top

          p
            | &copy; 2015 LeafyExchange, Inc. &middot;
