html
  head
    title= title
    meta(name='description' content=description)
    meta(name='keywords' content=keywords)
    meta(name='robots' content='index, follow')
    link(rel='icon' href=icon type='image/x-icon')
    meta(property='og:title' content=title)
    meta(property='og:description' content=description)
    | <meta name='msvalidate.01' content='C8868D88DEE99B036DC84584DF518BE8' />

    link(rel='stylesheet', type='text/css', href=stylesheet)
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', media='screen', href='/stylesheets/bootstrap.css')

    script(type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js' charset='utf-8')
    script(type='text/javascript' src='http://getbootstrap.com/dist/js/bootstrap.min.js')
    script(type='text/javascript' src='/javascripts/formAlert.js')

    if (javascriptSrcs !== undefined)
      each jsSrc in javascriptSrcs
        script(type='text/javascript' src=jsSrc)

    script
      | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      | })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      | ga('create', 'UA-60747888-1', 'auto');
      | ga('send', 'pageview');

    style(type="text/css")
      | .labels {
      | color: red;
      | background-color: white;
      | font-family: "Lucida Grande", "Arial", sans-serif;
      | font-size: 10px;
      | font-weight: bold;
      | text-align: center;
      | width: 40px;     
      | border: 2px solid black;
      | white-space: nowrap;
      | }

      | #original_button {
      | background-color:#1A1A1A;
      | -moz-border-radius:5px;
      | -webkit-border-radius:5px;
      | border-radius:5px;
      | border:1px solid #797979;
      | display:inline-block;
      | cursor:pointer;
      | color:#ffffff;
      | font-family:'Segoe UI';
      | font-size:1em;
      | padding:5px 10px;
      | text-decoration:none;
      | text-shadow:0px 1px 0px #2f6627;
      | text-align: center;
      | }

      | #bottom_list {
      | background-color: #1A1A1A;
      | padding-top:4px;
      | padding-bottom:4px;
      | }

      | #navbar_button {
      | background-color:#1A1A1A;
      | -moz-border-radius:5px;
      | -webkit-border-radius:5px;
      | border-radius:5px;
      | border:1px solid #797979;
      | display:inline-block;
      | cursor:pointer;
      | color:#ffffff;
      | font-family:'Segoe UI';
      | font-size:12;
      | padding:5px 10px;
      | text-decoration:none;
      | text-shadow:0px 1px 0px #2f6627;
      | text-align: center;
      | }

      | .notice-block .warning {
      | color: #c09853;
      | }
      | .notice-block .error {
      | color: #b94a48;
      | margin-left: 10px;
      | }
      | .notice-block .success {
      | color: #468847;
      | }
      | .notice-block .info {
      | color: #3a87ad;
      | }


  body
    div(class='modal fade state-modal-lg' tabindex='-1' role='dialog' aria-labelledby='myLargeModalLabel' aria-hidden='true')
      div(class='modal-dialog modal-lg')
        div(class='modal-content col-xs-12 col-sm-12 col-md-12 col-lg-12')
          div(class='model-body')
            h4(class='modal-title text-center' id='myModalLabel')
              | Please choose states
              ul
                li(class='list-unstyled')
                  a(href='/state/all')
                    | All States
            if (typeof(states) !== 'undefined')
              - index = 0
              each state in states
                if (typeof(state) === 'undefined' || state != stateChosen)
                  if (index % 10 == 0)
                    if (index > 0)
                      | </ul>
                    | <ul class='list-unstyled col-xs-6 col-sm-6 col-md-3 col-lg-3 text-center'>
                  - ++index
                  li(class='list-unstyled')
                    | <a href='/state/
                    = state
                    | '>
                    = state
                    | </a>

    .modal.fade.signup-modal-lg(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
              h4.modal-title Sign Up for LeafyExchange!
            .modal-body(id='signUpBody')
              form(id='signup' name='signup')
                span(class="notice-block" data-alertid="signUpResult")
                .form-group
                  label.control-label(for='email') Email:
                  input.form-control(type='email', id='email', placeholder='@', name='email')
                  span(class="notice-block" data-alertid="email")
                .form-group
                  label.control-label(for='username') Username:
                  input.form-control(type='text', id='username', placeholder='username', name='username')
                  span(class="notice-block" data-alertid="username")
                .form-group
                  label.control-label(for='password') Password:
                  input.form-control(type='password', id='password', name='password')
                  span(class="notice-block" data-alertid="password")
                .form-group
                  label.control-label(for='retypedPassword') Re-typed Password:
                  input.form-control(type='password', id='retypedPassword', name='retypedPassword')
                  span(class="notice-block" data-alertid="retypedPassword")
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
                  button.btn.btn-primary(type='button', onclick='signUpValidation()') Sign Up

    .modal.fade.login-modal-lg(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
      .modal-dialog
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;
              h4.modal-title Log In
            .modal-body
              form(name='login', action='/user/login', method='post')
                .form-group
                  label.control-label(for='username') Username:
                  input.form-control(type='text', id='username', placeholder='username', name='username')
                .form-group
                  label.control-label(for='message-text') Password:
                  input.form-control(type='password', id='password', placeholder='password', name='password')
                .modal-footer
                  button.btn.btn-default(type='button', data-dismiss='modal') Close
                  button.btn.btn-primary(type='submit') Sign in

    div(id='header' class='col-xs-12 col-sm-12 col-md-12 col-lg-12')
      nav(class='navbar navbar-inverse navbar-fixed-top')
        div(class='container')
          div(class='navbar-header' id='real_header')
            button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar' aria-expanded='false' aria-controls='navbar')
              span(class='sr-only')
                | Toggle navigation
              span(class='icon-bar')
              span(class='icon-bar')
              span(class='icon-bar')

            div(class='hidden-xs hidden-sm col-md-3 col-lg-3')

            div(class='col-xs-8 col-sm-8 col-md-6 col-lg-6')
              a(class='navbar-brand' href='/' style='font: segoe; font-size:1.25em; font-weight:bold')
                | Leafy Exchange

           div(id='navbar' class='navbar-collapse collapse')
            ul(class='nav nav-justified' id='header-bar')
              - if (session === undefined || session === null || session.logged === false || session.user === undefined) {
                li(class='list-unstyled' style="float:right; text-align:center")
                  a(href='#' data-toggle='modal' data-target='.login-modal-lg' title='Sign In' id='navbar_button')
                    | LOG IN
                li(class='list-unstyled' style="float:right; text-align:center")
                  a(href='#' data-toggle='modal' data-target='.signup-modal-lg' title='Sign Up' id='navbar_button')
                    | SIGN UP
              - } else {
                  li(class='list-unstyled' style="float:right; text-align:center")
                    a(href='/user/logout' title='log out' id='navbar_button')
                      | LOG OUT
                  li(class='list-unstyled' style="float:right; text-align:center; color:white")
                    a(href='' id='navbar_button')
                      | HELLO !{session.user['username']}
              - }


    block content

    <!-- FOOTER -->
    div(id='footer' class='col-xs-12 col-sm-12 col-md-12 col-lg-12' style='padding-right:0px; padding-left:0px')
      hr(class='featurette-divider')

      ul(class='list-unstyled' style="list-style-type:none")
        li(id='bottom_list' class='list-unstyled col-xs-6 col-sm-3 col-md-3 col-lg-3')
          a(href='mailto:leafyexchange@gmail.com' id='original_button' class='col-xs-12 col-sm-12 col-md-12 col-lg-12')
            | Email
        li(id='bottom_list' class='list-unstyled col-xs-6 col-sm-3 col-md-3 col-lg-3')
          a(href='/aboutus' id='original_button' class='col-xs-12 col-sm-12 col-md-12 col-lg-12')
            | About Us
        li(id='bottom_list' class='list-unstyled col-xs-6 col-sm-3 col-md-3 col-lg-3')
          a(href='/privacy' id='original_button' class='col-xs-12 col-sm-12 col-md-12 col-lg-12')
            | Privacy Policy
        li(id='bottom_list' class='list-unstyled col-xs-6 col-sm-3 col-md-3 col-lg-3')
          a(href='/terms' id='original_button' class='col-xs-12 col-sm-12 col-md-12 col-lg-12')
            | Terms of Use

      div(class='clearfix')
        | &copy; 2015 LeafyExchange, Inc. &middot;

    script
      | function changeHeight() {
      |   var $realHeader = $('#real_header');
      |   $('#header').height($realHeader.outerHeight());
      | }
      | window.onload = changeHeight();

      | function signUpValidation() {
      |     var emailRegex = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
      |     var email = $("#email").val();
      |     var username = $("#username").val();
      |     var password = $("#password").val();
      |     var retypedPassword = $("#retypedPassword").val();
      |     $(document).trigger("clear-alert-id.email");
      |     $(document).trigger("clear-alert-id.username");
      |     $(document).trigger("clear-alert-id.password");
      |     $(document).trigger("clear-alert-id.retypedPassword");
      |     $(document).trigger("clear-alert-id.signUpResult");
      |     if (email.length === 0 || emailRegex.test(email) === false) {
      |       $(document).trigger("set-alert-id-email", [
      |         {
      |           message: "Please enter a valid email",
      |           priority: "error"
      |         }
      |       ]);
      |     } else if (username.length === 0) {
      |       $(document).trigger("set-alert-id-username", [
      |         {
      |           message: "Please enter a username",
      |           priority: "error"
      |         }
      |       ]);
      |     } else if (password.length < 6) {
      |       $(document).trigger("set-alert-id-password", [
      |         {
      |           message: "Please enter a password of at least 6 characters",
      |           priority: "error"
      |         }
      |       ]);
      |     } else if (password !== retypedPassword) {
      |       $(document).trigger("set-alert-id-retypedPassword", [
      |         {
      |           message: "Retype password needs to be the same as password",
      |           priority: "error"
      |         }
      |       ]);
      |     } else {
      |       var loginCall = $.ajax({
      |         method: "POST",
      |         url: "/user/signup",
      |         data: {email: email, username: username, password: password, retypedPassword: retypedPassword }
      |       })
      |       .done(function(msg) {
      |         $('#signUpBody').html('Sign Up successfully');
      |       })
      |       .fail(function(jqXHR, textStatus) {
      |         $(document).trigger("set-alert-id-retypedPassword", [
      |           {
      |             message: jqXHR.responseText,
      |             priority: "error"
      |           }
      |         ]);
      |       })
      |       .always(function() { // TODO sth
      |       });
      |     }
      | }
