extends layout

block content
    div(class='row' id ='content')
      div(id='map-content' class='col-xs-12 col-sm-6  col-md-6 col-lg-6 ')
        div(id='map-canvas')
        a(href=url target='_blank' style='font-size:25px' rel='nofollow') Go to original posting
      div(id='price_bin_dist_by_state' class='hidden-xs col-sm-6  col-md-6 col-lg-6 ')

      div(class='clearfix')

      div(id='postingBodyContent'      class='col-xs-12 col-sm-6  col-md-6 col-lg-6')
        h2
          = title
        != content

      div(id='right_pane'              class='col-xs-12 col-sm-6 col-md-6 col-lg-6')
        div(class='col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center')
          h3(style='underlined')
            | Related weed postings from !{city}
        table(id='latest_prices_content' class='table table-striped table-condensed table-responsive')
              thead
                tr
                  th(class="col-xs-3 col-sm-2 col-md-2 col-lg-2 text-center")
                    | Date/Locations
                  th(class="col-xs-9 col-sm-8 col-md-6 col-lg-6 text-center")
                    | Post title
                  th(class="hidden-xs col-sm-2 col-md-2 col-lg-2 text-center")
                    | Quantities
                  th(class="hidden-xs hidden-sm col-md-2 col-lg-2 text-center")
                    | Prices
        div(id='right_pane_content')
          table(id='latest_prices_content' class='table table-striped table-condensed table-responsive' style='table-layout: fixed; overflow-x: hidden')
            tbody(id='table_body')
              - for (var i = 0; i < relatedPosts.length; ++i) {
                - if (i > 10) {
                -   break
                - }
                - posting = relatedPosts[i]
                - priceString = pricesString[i]
                - quantityString = quantitiesString[i]
                if (posting['city'])
                  tr
                    td(class="col-xs-3 col-sm-2 col-md-2 col-lg-2")
                      = posting['datePosted'] + " - " + posting['city']
                    td(class="col-xs-9 col-sm-8 col-md-6 col-lg-6 text-center")
                      strong
                        != '<a href="/posting/'
                        = posting['url']
                        != '">'
                        = posting['title']
                        != '</a>'
                    td(class="hidden-xs col-sm-2 col-md-2 col-lg-2")
                      if (posting['quantity'] == null)
                        | Check Quantity!
                      else
                        = quantityString
                    td(class="hidden-xs hidden-sm col-md-2 col-lg-2")
                      if (posting['price'] == null)
                        | Check Price!
                      else
                        = priceString
              - }

    script(type='text/javascript')
      | var map = null;
      | var markerArray = [];

      | var cache = [];

      | var stateFilter = null;
      | var geocoder = null;
      | var lat_ = !{JSON.stringify(latitude)};
      | var long_ = !{JSON.stringify(longitude)};
      | var state_ = !{JSON.stringify(state)};
      | var city_ = !{JSON.stringify(city)};
      | window.onload = loadData();